# ---- IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# ---- SonarQube
.sonar
.scannerwork
sonar-project*.properties

# ---- Yosys
yosys_workdir/
build_dir/
bugfinder_workdir/


#NanoXplore Poject
buildNX/

#vunit simulation
neorv32*/sim/vunit_out/

#python temp file
**/*.pyc